body{
    background-color:Black;
    font-family: 'Prosto+One';
}
.navsection{
    display: flex;
    justify-content: space-between;
    width: 90%;
    background-color: lawngreen;
    margin: 0 auto;
    border-radius: 3px;
    padding: 15px;
    font-size: 30px;
}
.container{
    width: 80%;
    margin: 0 auto;
    background-color: lightslategrey;
    padding: 50px 50px;
    border-radius: 15px;
}
.navsection a{
    color: black;
    text-decoration: none;
    padding: 3px
}
a{


}

.body{
    color: black;
    text-decoration: none;
    text-align: left;
    font-size: 20px;
    background-color: lightslategrey;
    margin: 20px auto;
    border-radius: 15px;
    font-style: italic;
    font-weight: bold;
    padding: 0 26px 0 0;

}


.navlink:hover{
    background-color: white;
    border-bottom-style: solid;
}
.imgcontainer {
    border-image-width: 0px;
    max-width: 100%;
    height: auto;

}

